@import url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css");
@import "shared.scss";

.input-saver {
  display: flex;
  gap: 10px;
}

.stations__search {
  .preview_settings {
    display: flex;
    gap: 10px;

    .filter_input {
      input {
        width: 250px;
      }
    }

    .module_select {
      select {
        width: 150px;
      }
    }

    .stations {
      display: flex;
      gap: 10px;

      .from,
      .to {
        padding: 0px 10px;
        line-height: 28px;
        border-radius: 3px;
        border: solid 1px rgba(0, 0, 0, 0.1);

        &:not([data-code]) {
          color: rgba(0, 0, 0, 0.2);
        }

        &[data-code] {
          border-color: var(--blue);
          background-color: #fff;
          color: var(--blue);

          &:before {
            content: attr(data-code);
          }
        }
      }

      .from {
        &:not([data-code]) {
          &:before {
            content: "Vertek";
          }
        }
      }

      .to {
        &:not([data-code]) {
          &:before {
            content: "Bestemming";
          }
        }
      }
    }

    .shortcode_preview {
      padding: 0 10px;
      margin-left: 40px;
      line-height: 28px;
      background-color: #fff;
      font-family: "Courier New", monospace;
      border: solid 2px black;
      font-size: 14px;
      cursor: pointer;
    }

    .ns-copy-confirm {
      color: green;
      line-height: 28px;
      &:before {
        content: "\2713";
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .stations_info {
    line-height: 40px;
    padding: 0 10px;
    font-style: italic;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }

  .stations_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #e3e3e3;
      padding: 10px;
      width: 250px;
      border-radius: 3px;
      outline: solid 3px #e3e3e3;
      border: solid 1px #e3e3e3;
      cursor: default;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
        outline-color: rgba(var(--rgb-blue), 0.2);
        border-color: rgba(var(--rgb-blue), 0.5);
      }

      .cell {
        &.station__code {
          align-self: center;
          padding: 5px 10px;
          background-color: var(--blue);
          color: #fff;
          font-size: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

.ns-error {
  color: red;
}

.ns-input {
  width: 350px;
}
