.tab-container {
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    border-bottom: 1px solid #ccc;

    .tab {
      padding: 12px 16px;
      cursor: pointer;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      border-bottom: none;
      color: #000;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e0e0e0;
      }

      &.active {
        position: relative;
        background-color: #fff;
        border-bottom: 1px solid #fff;
        font-weight: bold;

        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #fff;
        }
      }
    }
  }

  .tab-content {
    padding: 16px;
    border: 1px solid #ccc;
    display: none;
    background-color: #fff;

    .update-settings-form {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      button[type="submit"] {
        margin-top: 12px;
      }

      .input-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .tab-content.active {
    display: block;
  }
}

.station-mappings {
  width: 500px;

  .station-mapping {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .station-mapping-item {
      display: flex;
      flex-direction: row;
      gap: 10px;

      input {
        flex-grow: 1;
      }

      .remove-button {
        background-color: #ff4d4d;
        border-color: #ff4d4d;
        color: #fff;
        text-decoration: none;
        text-shadow: none;

        &:hover {
          background-color: #e60000;
          border-color: #ff4d4d;
        }
      }
    }
  }

  .station-mapping-actions {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.text-mappings {
  width: 900px;

  .text-mapping {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .text-mapping-item {
      display: flex;
      flex-direction: row;
      gap: 10px;

      label {
        flex-basis: 250px;
        font-weight: bold;
      }

      input {
        flex-grow: 1;
      }
    }
  }

  .text-mapping-actions {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
