.nsi-co2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;

  .item {
    flex-grow: 1;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: var(--nsi-shadow);
    border-radius: var(--border-radius-size);
    padding: 15px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        fill: var(--blue);
      }
    }

    .score {
      display: flex;
      font-size: 2.5rem;
      // font-weight: bold;
      color: rgba(#000, 0.7);
      margin-top: 5px;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 10px;
      }

      .leaf {
        width: 30px;
        height: 30px;

        &.green {
          fill: var(--green);
        }

        &.orange {
          fill: var(--orange);
        }

        &.red {
          fill: var(--red);
        }
      }
    }
  }

  @media (max-width: 450px) {
    flex-direction: column;

    .item {
      padding: 15px;

      .icon {
        svg {
          // width: 30px !important;
          // height: 30px !important;
        }
      }

      .score {
        font-size: 1.5rem;

        span {
          margin-right: 10px;
        }

        .leaf {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }
}
