.nsi-dayschedule-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #f0f0f0;

    .times {
        .time {
            font-size: 12px;
            text-decoration: underline dotted;
            color: lightskyblue;
            margin-right: 10px;
        }
    }
}